/* 4b */
.MCUShows {
  border: 10px solid #121f56;
  width: 500px;
  padding: 10px;
  margin: 0 auto;
  background: #1d3e8d;
  color: rgba(255, 255, 255, 0.9);
}

/* 4c */
.MCUShows h1 {
  text-align: center;
}